{% extends "app_mascotas/base.html" %}
{% load static %}
{% block title %}Página de Inicio{% endblock %}

{% block content %}

{% if messages %}
    {% for msg in messages %}
        <script>
            Swal.fire({
                title: 'Exito!',
                text: '{{msg}}',
                icon: 'success',
                confirmButtonText: 'Aceptar',
                confirmButtonColor: 'Green'
            }) 
        </script>
    {% endfor %}
{% endif %}

  
<div class="col-md-12">
    <h5><strong>Publicación de servicios</strong></h5>

    {% if not obtener %}
    <p>No se encontraron resultados.</p>
    {% else %}

    {% for servicio in obtener %}
        <div class="card text-center">
            <div class="card-header">
                {{ servicio.tipo_servicio }}<br> 
                <h5 class="card-title">${{ servicio.precio }}</h5>  
            </div>
            <div class="card-body d-flex align-items-start">
                <div class="rounded-circle overflow-hidden me-3" style="width: 100px; height: 100px;">
                    {% if servicio.cuidador.propietario.imagen %}
                        <img src="{{ servicio.cuidador.propietario.imagen.url }}" class="w-100 h-100" alt="User-Profile-Image">
                    {% else %}
                        <img src="{% static 'app_mascotas/img/no_avatar.jpg' %}" class="w-100 h-100" alt="User-Profile-Image">
                    {% endif %}
                </div>
                <div class="mx-auto text-center">
                    <p class="card-text">{{ servicio.descripcion }}</p>
                </div>
            </div>
            <div class="card-footer">
                {% if servicio.cuidador.propietario == user %}
                    <a href="{% url 'perfil' %}" class="btn btn-lg btn-primary">Ver Detalles</a>
                {% else %}
                    <a href="{% url 'perfil_servicio' servicio.id_servicio %}" class="btn btn-lg btn-primary">Ver Detalles</a>
                {% endif %}
                <p class="card-text">Publicado por: {{ servicio.cuidador.propietario.username }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>

{% if obtener.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item pagination">
        {% if obtener.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo;&laquo;</a>
            <a href="?page={{ obtener.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
        {% endif %}

        {% for page_number in obtener.paginator.page_range %}
            {% if obtener.number == page_number %}
                <button class="btn btn-outline active">
                    <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                </button>
            {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline">
                    {{ page_number }}
                </a>
            {% endif %}
        {% endfor %}

        {% if obtener.has_next %}
            <a href="?page={{ obtener.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            <a href="?page={{ obtener.paginator.num_pages }}" class="btn btn-outline-primary">&raquo;&raquo;</a>
        {% endif %}
    </div>
{% else %}
    <p></p>
{% endif %}

      
        
<div class="container mt-5 text-center">
    <!-- Título animado -->
    <h1 class="animate__animated animate__fadeInDown" style="color: #808080;">PATIPASEO TE OFRECE</h1>
    <h2 class="animate__animated animate__fadeInDown" style="color: #808080; font-size: 1.5rem;">RAZONES PRINCIPALES</h2>
    <div class="row">
  
      <!-- Sección: Personas verificadas -->
      <div class="col-md-6">
        <div class="section-container animate__animated animate__fadeInUp rounded p-4" style="color: #3498db; border: 2px solid rgb(128, 128, 128); background: rgba(255, 255, 255, 0.8); transition: background 0.3s;">
          <i class="fas fa-check-circle fa-3x" style="color: rgb(75, 0, 130);"></i>
          <h2 style="color: black;">Personas verificadas</h2>
          <p style="color: black;">Todas las personas que ofrecen servicio de cuidado o paseo han pasado por un proceso de verificación.</p>
        </div>
      </div>
  
      <!-- Sección: Garantía veterinaria -->
      <div class="col-md-6">
        <div class="section-container animate__animated animate__fadeInUp rounded p-4" style="color: #2ecc71; border: 2px solid rgb(128, 128, 128); background: rgba(255, 255, 255, 0.8); transition: background 0.3s;">
          <i class="fas fa-medkit fa-3x" style="color: rgb(0, 0, 128);"></i>
          <h2 style="color: black;">Garantía veterinaria</h2>
          <p style="color: black;">Todos los perros durante el servicio Duko cuentan con garantía veterinaria limitada en caso de alguna emergencia.</p>
        </div>
      </div>
  
      <!-- Sección: Perros felices -->
      <div class="col-md-6 mt-4">
        <div class="section-container animate__animated animate__fadeInUp rounded p-4" style="color: #e74c3c; border: 2px solid rgb(128, 128, 128); background: rgba(255, 255, 255, 0.8); transition: background 0.3s;">
          <i class="fas fa-paw fa-3x" style="color: rgb(128, 0, 128);"></i>
          <h2 style="color: black;">Perros felices</h2>
          <p style="color: black;">Tu perro nunca será enjaulado cuando se quede a dormir y estará bien cuidado. Durante los paseos vamos a su ritmo para que lo disfrute.</p>
        </div>
      </div>
  
      <!-- Sección: Seguimiento -->
      <div class="col-md-6 mt-4">
        <div class="section-container animate__animated animate__fadeInUp rounded p-4" style="color: #f39c12; border: 2px solid rgb(128, 128, 128); background: rgba(255, 255, 255, 0.8); transition: background 0.3s;">
          <i class="fas fa-chart-line fa-3x" style="color: rgb(0, 0, 128);"></i>
          <h2 style="color: black;">Seguimiento</h2>
          <p style="color: black;">Podrás consultar y dar seguimiento de cada paseo o cuidado que se realice a través de la App o portal de seguimiento.</p>
        </div>
      </div>
  
      <!-- Agrega un contenedor para los íconos animados -->
      <div class="col-md-12 mt-4">
        <div class="icon-container animate__animated animate__bounceIn" style="color: #8e44ad;">
          <i class="fas fa-dog fa-5x animate__animated animate__hover__rubberBand" style="color: rgb(75, 0, 130); margin-right: 20px;"></i>
          <i class="fas fa-paw fa-5x animate__animated animate__hover__rubberBand" style="color: rgb(128, 0, 128);"></i>
          <i class="fas fa-cat fa-5x animate__animated animate__hover__rubberBand" style="color: rgb(0, 0, 128); margin-left: 20px;"></i>
        </div>
      </div>
  
      <div class="col-md-12 mt-4">
      </div>
  
    </div>
  </div>
  



{% endblock %}
